<% @products.each do |product| %>
  <p><%= product.name %> | <%= number_to_currency product.price %>
  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :product_id, value: product.id %>
    <%= f.number_field :quantity %>
    <%= f.submit "Add to cart" %>
  <% end %></p>
<% end %>

<% @booklist.each do |book| %>
  <div class="container">
    <p><%= book['rank'] %></p>
    <img src="<%= book['book_image'] %>" alt="book">
    <p><%= book['title'] %></p>
    <p><%= book['author'] %></p>
    <p><%= book['description'] %></p>
    <p><%= book['book_review_link'] %></p>
  </div>
<% end %>
